* {
	box-sizing: border-box; 
}

/*step 1 of 3 to make sticky footer*/
html {
	position: relative;
	min-height: 100%;
}

/*margin 10 (height of footer) is step 2 of 3 to make sticky footer*/
body {
	text-align: center;
	margin: 0 auto 60px auto;
	background-color: yellow;
	font-size: 20px;
}

#triviaLogo {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 20px;
}

.container {
	position: absolute;
	bottom: 0;
	background: url("../images/grass.jpg") no-repeat;
	overflow: auto;
	background-size: 100% 200px;
	background-position: bottom;
	width: 100%;
}

#startButton, .categoryButton {
	width: 30%;
	padding: 10px;
	margin-top: 20px;
	background-color: #04cc02;
	border-radius: 20px;
	margin-bottom: 0px;
}

#carDiv {
	height: 230px;
	margin-top: 60px;
}

#car {
	width: 85%;
	height: auto;
	margin-top: 30px;
}

#sodaDiv {
	height: 230px;
	margin-top: 100px;
}

#soda {
	width: 80%;
	height: auto;
	margin-top: 200px;
	margin-left: 60px;
}

#trashcanDiv {
	height: 300px;
	margin-top: 80px;
}

#trashcan {
	width: 50%;
	height: auto;
	margin-top: 80px;
	margin-right: 110px;
}

#dogDiv {
	height: 300px;
	margin-top: 100px;
}

#dog {
	width: 65%;
	height: auto;
	margin-top: 100px;
}

#plantDiv {
	height: 300px;
	margin-top: -50px;
}

#plant {
	width: 100%;
	height: auto;
	margin-top: 40px;
	margin-right: -75px;
}

#timer {
	visibility: hidden;
	font-size: 30px;
	font-weight: bold;
}

#questionDiv, #resultDiv, #summaryDiv {
	display: none;
	width: 50%;
	height: auto;
	background-color: #04cc02;
	margin: 0 auto 20px auto;
	padding: 35px 0;
}

#question {
	width: 80%;
	height: 75px;
	margin: 0 auto;
}

#choice1, #choice2, #choice3, #choice4 {
	width: 80%;
	height: 75px;
	border: solid 2px blue;
	background-color: ivory;
	margin: 0 auto 3px auto;
	padding: 10px;
}

#correctAnswer {
	font-weight: bold;
}

img {
	width: 300px;
	height: auto;
}

#imageResult {
	width: 300px;
	height: auto;
	margin-top: 20px;
}

#replayButton {
	width: 50%;
	padding: 10px;
	margin-top: 20px;
	background-color: #04cc02;
	border-radius: 20px;
}

/*position absolute/bottom 0/width 100% is step 3 of 3 to make sticky footer*/
footer {
	position: absolute;
	height: 60px;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #04cc02;
	left: 0;
	right: 0;
	padding-top: 20px;
}







